
.add {
  cursor: pointer;
}

.del {
    cursor: pointer;
}

.DeleteDynamicExtraField {
  margin-left: 5px;
}

.les4-1 {
  width: 210px;
  border: 1px solid black;

  border-radius: 10px;
  padding: 20px;
  display: none;
}
ul {
   text-align: justify;
}

ul li {
    min-width: 100px;
    position: relative;
    vertical-align: top;
    display: inline;

    margin: 0;
    padding: 5px;

  cursor: pointer;
}
.les6 {
  max-height: 375px;
  width: 500px;
  box-sizing: border-box;

}
.lesimg {
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  padding: 5px;
}
.les6-1 {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -200px;
  left: 300px;
  display: none;

  z-index: 1;
}
.les7  {


}
.les7 img {

  width: 100px;

}
.img1 {
box-shadow: 10px 10px 5px 5px #FF230A;
}
.h2 {
  color: red;
}
