body {
  background-color: blue;
}

#les3_1 {
    width:30%;
    min-height:30%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:20%;
    text-align: center;
    left: 30%;
    border-radius: 50px;
    padding-top: 10%;
    display: none;
}
