.header {
	height: 100%;
	width: 100%;
	background-color: #ff9800;
	padding: 20px;
}

.col {
	width: 30%;
	float: left;
	padding-right: 1%;
}

.col p {
	width: 100%;
}
.col img {
	width: 100%;
	float: left;
	padding: 1%;
}

@media (max-width: 960px) {
  .col {
  	width: 100%;
  }

  .col img {
  	width: 45%;
  	padding: 1%;
  }
}