#les1 {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
#les2 {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  background-image:  url(img/close.png);
}
#les3 {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  overflow: auto;

}

 .les31 {
  width: 30px;
  height: 30px;

  background-color: #088A29;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  transition: 1s;



}

#les4 {
  margin-top: 20px;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
}

.pic {
  width: 200px;
}

#les6 {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: #0040FF;
  transition: 1s;

}

#eles6 {
  border: 1px solid black;
  width: 630px;
  height:200px;
  background-color: #61380B;


}

#eles6-1 {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  background-color: #FF8000;
  margin-top: 25px;
  border-radius: 15px;
  margin-left: 25px;


 }
